.gallery{
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 3rem 1rem;
    width: 90%;
    margin: 1rem auto 0rem;
    border-radius: 20px 20px 0 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.gallery h2{
    font-style: italic;
    padding: 0 2rem;
    font-size: 4rem;
  }
.gallery .pics{
    transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 1rem;
    
}
.gallery .pics  :hover{
    filter:opacity(.9);
}
@media(max-width : 991px){
    .gallery{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media(max-width : 480px){
    .gallery{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    
    }
}
