/* CSS Normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: none;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201c \201d \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,html input[type=button],/* 1 */
input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* 
style */
/* --------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

a {
    text-decoration: none;
    font-size: 1rem;
    outline: none;
  
  }
  a:active, a:focus {
    
    outline: 0;
    border: none;
  }
  
li {
    list-style: none;
    font-size: 1rem;
}

  
/* navbar */
nav{
 background-color: transparent;
  
  
    border-radius: 0 0 2rem 2rem ;

    padding: 1rem;
    /* position: fixed; Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 101;
}

nav a{
    color: black;
    text-transform: uppercase;
    font-size: larger;
    outline: none;
    text-decoration: none;
}

nav ul{
    float: right;
    margin-top: 0.6rem;
}

nav li{
    float: left;
    display: inline;
    padding: 0 2rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20rem;
}
nav li:active, :focus {
}
nav li:hover{
  background-color: white;
}

nav .branding {
    float: left;
    transition: transform .2s;
  
}
nav .branding:hover{
  transform: scale(0.9);
}
  nav .branding h2{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1rem;
  }
  @media(max-width : 950px){
    
    nav ul{
      float: left;
      margin-top: 0.6rem;
  }
  nav li{
    float: left;
    display: inline;
    padding-left: 1rem;
}
  .container {
    width: 90%;
    margin: auto;
    overflow: hidden;
  }
  }
  @media(max-width : 569px){
    nav li{
     
      display: flex;
      
  }
   
  }
.header{
    width: 90%;
    margin: 1rem auto 0;
    min-height: 51rem;
    background-image: url(../src/components/images/ashyou.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 20px 20px 0 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

}

.name h1{
    font-size: 10rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    
}

.name h3{
    font-size: 1.5rem;
    font-weight: 500;
}   
@media(max-width : 1160px){
  .name h1{
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    
}
}
@media(max-width : 662px){
  .name h1{
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    
}
}


/* .hightlight */


.card{
      margin: .5rem 0 1rem 0;
      background-color: transparent;
      border-radius: 1rem;
      color: #fff;
      
  }
  .card-image img{
    border-radius: 1rem;
  }


/* story */

.about{
    width: 90%;
    margin: 1rem auto 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 20px 20px 0 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.read{
    padding: 0 10rem;
}

.read h1{
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 600;
    padding: 0 1rem 0  0;
}

.read p{
    font-size: 1rem;
    font-weight: 100;
}


.banner img{
    width: 43rem;
    height: auto;
    border-radius: 10px;
    margin:1rem ;
}
@media(max-width : 1260px){
  .read{
    padding: 0 5rem;
}

  .banner img{
    width: 30rem;
}
}
@media(max-width : 950px){
  .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    border-radius: 20px 20px 0 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.read{
  padding: 0 3rem;
}
.banner img{
  width: 22rem;
}
}



.social{
  width: 90%;
  margin: 1rem auto 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 20px 20px 0 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.social .card2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.4rem;
 
}
.social .card2 a{
  color: #000;
  font-size: 8rem;
  padding: 0.2rem;
  transition: transform .2s;
}
.social .card2 a :hover{
  filter:opacity(.8);
}
.social .card2 img{
  height: auto;
  width:20rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem;
  margin: 0.3rem;
  transition: transform .2s;
}
.social .card2 img:hover{
  transform: scale(0.99);
  
}
@media(max-width : 1360px){
  .social{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 20px;
  
  }
}
@media(max-width : 1160px){
  .social{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 20px;
  
  }
}
@media(max-width : 676px){
  .social{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-gap: 20px;
  
  }
}
/*  */
.follow{
  width: 90%;
  margin: 1rem auto 0;
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  padding-bottom: 8rem;
  background-image: url(../src/components/images/foolow.jpg);
  background-repeat: no-repeat;
    background-size: cover;
}
.follow h1{
  font-size: 4rem;
  font-weight: 700;
  padding: 5rem;
}   
.message{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.thing{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  padding-right: 5rem;
}
.thing h2{
  font-size: 2.3rem;
  padding-bottom: 4rem;
}
.thing h3{
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
.thing p{
  padding-top: 1rem;
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
}
.thing p a{
  background-color: white;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  color: black;

}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;

}
input{
  width: 200%;
  padding: 0.8rem 1rem;
  margin: 0.2rem;
  border-radius: 8px;
  background-color: white;
  border: 0.1111rem solid white;
  color: black;
  font-weight: 800;
}
button{
  padding: 0.3rem 2rem;
  border-radius: 10px;
  border: none;
  margin: 2rem;
  background-color: white;
  color: #000;
  
}